<form method='post' action='/quizes/<%=quizid%>/comments'>
	<label for="comment">Comentario</label>
	<input id='comment' type='text' value='' name='comment[text]' placeholder="Ingresa tu comentario. . .">
	<a href="/quizes"><button type='button'>Cancelar</button></a>
<input type="submit" value='Enviar'>
</form>