<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>MyQuiz</title>
		<link rel='stylesheet' href="/build/styles.css"/>
	</head>
	<body>
		<div class="header">
			<div class="logo_hd">
				<a href="/">
					<img class="nav_logo" src="images/logo.png" alt="MyQuiz Logo">
				</a>
			</div>
			<nav class="main" id="navbar" role="navigation">
				<ul class="mainnav">
					<li><a class="nav_link" data-hover="Inicio"href="/">Inicio</a></span></li>
					<li><a class="nav_link" data-hover="Preguntas"href="/quizes">Preguntas</a></li>
					<li><a class="nav_link" data-hover="Ayuda"href="/help" target:"_blank">Ayuda</a></li>
					<li><a class="nav_link login_link" data-hover="Login"href="/">Login</a></li>
				</ul>
			</nav>
		</div>
		<%if(typeof errors !== 'undefined') {
		console.log('Layout error');%>
		<div class="hero">
			<header class="main" id="h1">
				<h2>myQuiz: El juego de Preguntas!</h2>
			</header>
		</div>
		<section class="main errors">
			<div id="errorLog">
				<h5>¡Error al procesar la solicitud!</h5>
				<% for(var i in errors){ %>
					<span><%= errors[i].message %></span><br>
				<% } %>
				</div>
		</section>
		<% } %>
		<%if(typeof feedback!== 'undefined') {%>
		<section class="main feedback">
			<div id="feedLog">
				<h5>Hecho!</h5>
				<% for(var i in feedback){ %>
					<span><%= feedback[i].msg %></span><br>
				<% } %>
				</div>
		</section>
		<% } %>
		<section>
			<%- body %>
		</section>
		<footer>
			MyQuiz Copyright
		</footer>
	</body>
</html>
