<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>MyQuiz</title>
		<link href="https://fonts.googleapis.com/css?family=Baloo+Tammudu" rel="stylesheet"> 
		<link rel='stylesheet' href="/build/styles.css"/>
		<script type="text/javascript" src="/javascripts/logoutHelper.js"></script>	
	</head>
	<body>
		<div class="header">
			<div class="logo_hd">
				<a href="/">
					<img class="nav_logo" src="/images/logo.png" alt="MyQuiz Logo">
				</a>
			</div>
			<nav class="main" id="navbar" role="navigation">
				<ul class="mainnav">
					<li><a class="nav-link" data-hover="Inicio" href="/">Inicio</a></span></li>
					<li><a class="nav-link" data-hover="Preguntas" href="/quizes">Preguntas</a></li>
					<li><a class="nav-link" data-hover="Ayuda" href="/help" target:"_blank">Ayuda</a></li>
					<% if(!session.user){ %>
						<li><a class="nav-link login_link" data-hover="Login" href="/login">Login</a></li>
					<%}else{ %>
						<li><a class="nav-link" id='logout-link' data-hover="Logout" href="">Logout</a></li>
						<li>
							<form id="logout-form" class="blank hidden" method="post" action="/login?_method=delete">
								<input type="hidden" name="logout" id="logout" value="true"/>
								<input name="Logout" value="Logout" type="submit"/>
							</form>
						</li>
					<% }; %>
				</ul>
			</nav>
		</div>		

	 	<% if (typeof(errors) !== 'undefined') { %>
     	<span id='ErrorMsgs'>
        <ul>
           <% for (var i in errors) { %>
           <li><%= errors[i].message %></li>
        <% } %>
       </ul>
      </span>
    <% } %>
	<%if(typeof feedback!== 'undefined') {%>
		<section class="main feedback">
			<div id="feedLog">
				<h5>Hecho!</h5>
				<% for(var i in feedback){ %>
					<span><%= feedback[i].msg %></span><br>
				<% } %>
				</div>
		</section>
		<% } %>
		<section>
			<%- body %>
		</section>
		<footer>
			MyQuiz Copyright
		</footer>
	</body>
</html>
