<label for="preg">Pregunta</label>
	<input id='ip_preg' type='text' name='quiz[pregunta]' placeholder="<%= quiz.pregunta%>">
<label for="resp">Respuesta</label>
	<input id='ip_resp' type='text' name='quiz[respuesta]' placeholder="<%= quiz.respuesta%>">
<a href="/quizes"><button type='button'>Cancelar</button></a>
<input type="submit" value='Enviar'>