<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>MyQuiz</title>
	</head>
	<body>
		<h2>MyQuiz</h2>
		<h3><%= respuesta %></h3>
		<a href="/quizes/question">Volver atrás</a>
	</body>
</html>