<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>MyQuiz</title>
	</head>
	<body>
		<h2>MyQuiz</h2>
		<form method="get" action="/quizes/answer">
			<p>Pregunta: <%= pregunta %> </p>
			<input type="text" name="respuesta" placeholder="Ingrese su respuesta aquí . . ."/>
			<input type="submit" value="Enviar"/>
		</form>
	</body>
</html>